.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
}

.menuToggle {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.title {
  margin: 0;
}

@media (min-width: 768px) {
  .header {
    grid-area: header;
    justify-content: center;
  }

  .menuToggle {
    display: none;
  }
}