* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif,system-ui,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
  font-weight: 500;
  caret-color: transparent;
}

